[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonpickle = "*"
psycopg2-binary = "*"
gensim = "*"
flask-classful = "*"
waitress = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
